<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	    <meta charset="utf-8">
		<title>EventosApp</title>
		<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      	<!--Import materialize.css-->
      	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      	<!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
	    <h3><a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Listar Eventos</a></h3>
		<form class="container" method="post" accept-charset="utf-8">
			<th:block th:include="mensagemDeValidacao"></th:block>
			Nome: <input type ="text" name="nome" value=""/>	
			<div class="row">
			    <div class="input-field col s6">
					Local: <input type ="text" name="local" value=""/>
				</div>
				<div class="input-field col s3">
					Data: <input type ="date" name="data" value=""/>
				</div>
				<div class="input-field col s3">
					Horário: <input type ="time" name="horario" value=""/>	
				</div>
			</div>
			<button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">save</i>Salvar</button>			
		</form>
		<!--JavaScript at end of body for optimized loading-->
      	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	</body>
</html>